<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.manifestinteractive.panicpress" version="0.5.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Panic</name>
  <description>
        With a single tap, Panic Press automatically notifies your Emergency Contacts when you're in danger. Access your Safety Net from your favorite Apple iOS or Android Device.
    </description>
  <author email="hello@manifestinteractive.com" href="http://manifestinteractive.com">
        Manifest Interactive
    </author>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="BackgroundColor" value="0xffe74c3c"/>
  <preference name="detect-data-types" value="false"/>
  <preference name="fullscreen" value="true"/>
  <preference name="orientation" value="portrait"/>
  <preference name="phonegap-version" value="3.5.0"/>
  <platform name="ios">
    <preference name="BackupWebStorage" value="cloud"/>
    <preference name="deployment-target" value="7.0"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#e74c3c"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarStyle" value="lightcontent"/>
    <preference name="SuppressesIncrementalRendering" value="true"/>
    <preference name="target-device" value="handset"/>
    <preference name="webviewbounce" value="false"/>
  </platform>
  <platform name="android">
    <preference name="android-minSdkVersion" value="21"/>
    <preference name="android-targetSdkVersion" value="22"/>
    <preference name="disallowOverscroll" value="true"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="5000"/>
    <preference name="webviewbounce" value="false"/>
  </platform>
  <gap:config-file platform="android" parent="/manifest">
    <supports-screens android:xlargeScreens="false" android:largeScreens="false" android:smallScreens="false"/>
  </gap:config-file>
  <allow-navigation href="*"/>
  <allow-intent href="*"/>
  <access origin="*"/>
</widget>