{
  "security": {
    "encryption_key": ""
  },
  "app": {
    "environment": "production",
    "store": {
      "ios": "992036229",
      "android": "com.manifestinteractive.panicpress"
    },
    "support": {
      "website": "https://panicpress.zendesk.com",
      "email": "support@panicpress.zendesk.com",
      "info": "http://panicpress.press",
      "terms_of_use": "http://panicpress.press/terms-of-use",
      "privacy_policy": "http://panicpress.press/privacy-policy"
    },
    "development": {
      "api": {
        "key": "",
        "url": "https://i.panic.press/api"
      },
      "sendgrid": {
        "api_user": "",
        "api_key": "",
        "from_name": "",
        "from_address": ""
      },
      "aws": {
        "access_key": "",
        "secret_key": "",
        "bucket": ""
      }
    },
    "production": {
      "api": {
        "key": "",
        "url": "https://i.panic.press/api"
      },
      "sendgrid": {
        "api_user": "",
        "api_key": "",
        "from_name": "",
        "from_address": ""
      },
      "aws": {
        "access_key": "",
        "secret_key": "",
        "bucket": ""
      }
    }
  },
  "google": {
    "analytics": ""
  }
}