<section ng-init="updateContacts();">
    <section class="section swatch-red-white section-short">
        <div class="container">
            <div class="row text-center m-b-sm">
                <div class="box-hex flat-shadow flat-hex animated flipInX">
                    <div class="box-dummy"></div>
                    <span class="box-inner">
                        <img src="assets/img/contacts.jpg">
                    </span>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section swatch-white-red has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container m-b-xl">
            <header class="section-header text-center underline m-t-lg">
                <h1 class="headline super hairline">Emergency Contacts</h1>
            </header>
            <div class="m-b-xl">

                <div class="alert bg-panic-info-light text-panic-info text-center" role="alert" ng-if="contacts.length > 0 && appMode == 'setup'">
                    <i class="fa fa-spinner fa-spin text-panic-info m-r-xs"></i> Waiting for First Contact's Approval
                </div>

                <div class="alert bg-panic-info-light text-panic-info text-center" role="alert" ng-if="contacts.length == 0">
                    <i class="fa fa-exclamation-triangle text-panic-info m-r-xs"></i> No Emergency Contacts
                </div>

                <ul class="list-fancy-icons color-inverse">

                    <li class="border-top" ng-repeat="contact in contacts" ng-model="showMe" ng-class="{ 'no-pad': !showMe }">
                        <div class="hex vcenter" ng-click="removeContact(contact.id)" ng-class="{ hide: !showMe }">
                            <i class="fa fa-fw fa-times remove-contact"></i>
                        </div>
                        <p class="contact-info" ng-swipe-right="showMe = true" ng-swipe-left="showMe = false">
                            <i class="fa fa-fw m-r-xs" ng-class="{ 'fa-spinner fa-spin text-light': ( !contact.verified_email && !contact.verified_phone ), 'fa-user text-dark': ( contact.verified_email || contact.verified_phone ) }"></i>
                            <strong ng-class="{ 'text-light': ( !contact.verified_email && !contact.verified_phone ) }">{{ contact.full_name }}</strong>
                            <br />
                            <i class="fa fa-fw m-r-xs" ng-class="{ 'fa-spinner fa-spin text-light': !contact.verified_email, 'fa-envelope text-dark': contact.verified_email }"></i>
                            <span ng-class="{ 'text-light': !contact.verified_email }">{{ contact.email_address }}</span>
                            <br />
                            <i class="fa fa-fw m-r-xs" ng-class="{ 'fa-spinner fa-spin text-light': !contact.verified_phone, 'fa-phone text-dark': contact.verified_phone }"></i>
                            <span ng-class="{ 'text-light': !contact.verified_phone }">{{ contact.phone_number | phoneNumber }}</span>
                        </p>
                    </li>
                </ul>

                <div class="form-group text-center m-t-xl" ng-if="appMode == 'setup'">
                    <a ng-click="pickContact();" class="btn btn-icon btn-icon-right btn-lg m-b-xs" ng-class="{ 'btn-default': remainingContacts <= 0, 'btn-primary': remainingContacts > 0 }" ng-disabled="remainingContacts <= 0">
                        Add Contact
                        <span class="hex-alt">
                            <i class="fa fa-plus"></i>
                        </span>
                    </a>
                    <p class="text-muted m-t-sm">
                        {{ remainingContacts }} {{ remainingMessage }}
                    </p>
                </div>

                <div class="form-group text-center m-t-xl" ng-if="appMode == 'ready'">

                    <a ui-sref="app.home" class="btn btn-icon btn-icon-left btn-default m-b-xs previous">
                        Home
                        <span class="hex-alt">
                            <i class="fa fa-home"></i>
                        </span>
                    </a>
                    &nbsp;
                    <a ng-click="pickContact();" class="btn btn-icon btn-icon-right m-b-xs next" ng-class="{ 'btn-default': remainingContacts <= 0, 'btn-primary': remainingContacts > 0 }" ng-disabled="remainingContacts <= 0">
                        Add
                        <span class="hex-alt">
                            <i class="fa fa-plus"></i>
                        </span>
                    </a>
                    <p class="text-muted m-t-sm">
                        {{ remainingContacts }} {{ remainingMessage }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Contact Details Modal -->
<div class="modal fade contact-details" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Emergency Contact:&nbsp; <span>{{ selectedContact.name.formatted }}</span></h4>
            </div>

            <div class="modal-body" ng-if="selectedContact.emails.length > 0 && selectedContact.phoneNumbers.length > 0">

                <div class="alert alert-danger details-alert" ng-if="contactAlert">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong><i class="fa fa-fw fa-exclamation-triangle text-red"></i></strong>&nbsp;
                    <span>{{contactAlert}}</span>
                </div>

                <h4>Send Email's to:</h4>

                <div class="radio radio-danger" ng-repeat="(key, email) in selectedContact.emails">
                    <input type="radio" ng-model="modal.email" name="email" id="email_{{key}}" value="{{ email.value }}">
                    <label for="email_{{key}}">
                        {{ email.value }}
                    </label>
                </div>

                <h4 class="m-t-md">Send Text Message's to:</h4>

                <div class="radio radio-danger" ng-repeat="(key, phone) in selectedContact.phoneNumbers">
                    <input type="radio" ng-model="modal.phone" name="phone" id="phone_{{key}}" value="{{ phone.value }}">
                    <label for="phone_{{key}}">
                        {{ phone.value }}
                    </label>
                </div>

            </div>

            <div class="modal-body" ng-if=" !selectedContact.emails || !selectedContact.phoneNumbers">

                <div class="alert bg-panic-danger-light text-panic-danger text-missing" role="alert" ng-if=" !selectedContact.emails">
                    <i class="fa fa-exclamation-triangle text-panic-danger m-r-xs"></i> No Email Addresses Found
                </div>

                <div class="alert bg-panic-danger-light text-panic-danger text-missin" role="alert" ng-if=" !selectedContact.phoneNumbers">
                    <i class="fa fa-exclamation-triangle text-panic-danger m-r-xs"></i> No Phone Numbers Found
                </div>

            </div>

            <div class="modal-footer" ng-if="selectedContact.emails.length > 0 && selectedContact.phoneNumbers.length > 0">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="addContact();">Add Contact</button>
            </div>

            <div class="modal-footer" ng-if=" !selectedContact.emails || !selectedContact.phoneNumbers">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Manually add Contact Details Modal -->
<div class="modal fade add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="addContact">Add Emergency Contact</span></h4>
            </div>

            <div class="modal-body swatch-white-red">

                <div class="alert alert-danger details-alert" ng-if="detailsAlert">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong><i class="fa fa-fw fa-exclamation-triangle text-red"></i></strong>&nbsp;
                    <span>{{detailsAlert}}</span>
                </div>

                <form class="contact-form" id="contactForm" novalidate="" ng-submit="addManualContact();">
                    <div class="form-group form-icon-group">
                        <input class="form-control" person-name ng-model="manual.full_name" id="name" placeholder="Full Name *" type="text" required>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group form-icon-group">
                        <input class="form-control" email-address ng-model="manual.email_address" id="email" placeholder="Email Address *" type="email" required>
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="form-group form-icon-group">
                        <input class="form-control" phone-number ng-model="manual.phone_number" id="phone" placeholder="Phone Number *" type="tel" pattern="[0-9]+" required>
                        <i class="fa fa-phone"></i>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="addManualContact();">Add Contact</button>
            </div>
        </div>
    </div>
</div>