<section ng-init="updateContacts();">
    <section class="section swatch-red-white section-short">
        <div class="container">
            <div class="row text-center m-b-sm">
                <div class="box-hex box-big flat-shadow flat-hex animated flipInX">
                    <div class="box-dummy"></div>
                    <span class="box-inner">
                        <img src="assets/img/contacts.jpg">
                    </span>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section swatch-white-red has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <header class="section-header text-center underline m-t-lg">
                <h1 class="headline super hairline">Emergency Contacts</h1>
            </header>
            <div class="m-b-xl">
                <ul class="list-fancy-icons color-inverse">

                    <li ng-repeat="contact in contacts">
                        <div class="hex vcenter" ng-click="removeContact(contact.id)">
                            <i class="fa fa-user-times" data-animation="shake"></i>
                        </div>
                        <p>
                            <i class="fa fa-fw fa-user text-light m-r-xs"></i> <strong>{{ contact.full_name }}</strong>
                            <br />
                            <i class="fa fa-fw fa-envelope text-light m-r-xs"></i> {{ contact.email_address }}
                            <br />
                            <i class="fa fa-fw fa-phone text-light m-r-xs"></i> {{ contact.phone_number }}
                        </p>
                    </li>
                </ul>

                <div class="form-group text-center m-t-xl">
                    <a ng-click="pickContact();" class="btn btn-primary btn-icon btn-icon-right btn-lg m-b-xs">
                        Add Contact
                        <span class="hex-alt">
                            <i class="fa fa-plus"></i>
                        </span>
                    </a>
                    <p class="text-muted m-t-sm">
                        {{ remainingContacts }} Contacts Remaining
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Contact Details Modal -->
<div class="modal fade contact-details" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Contact: <span>{{ selectedContact.name.formatted }}</span></h4>
            </div>

            <div class="modal-body">

                <div class="alert alert-danger details-alert" ng-if="contactAlert">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong><i class="fa fa-fw fa-exclamation-triangle text-red"></i></strong>&nbsp;
                    <span>{{contactAlert}}</span>
                </div>

                <h4>Send Email to:</h4>

                <div class="radio radio-danger" ng-repeat="(key, email) in selectedContact.emails">
                    <input type="radio" ng-model="modal.email" name="email" id="email_{{key}}" value="{{ email.value }}">
                    <label for="email_{{key}}">
                        {{ email.value }}
                    </label>
                </div>

                <h4 class="m-t-md">Send Text Message to:</h4>

                <div class="radio radio-danger" ng-repeat="(key, phone) in selectedContact.phoneNumbers">
                    <input type="radio" ng-model="modal.phone" name="phone" id="phone_{{key}}" value="{{ phone.value }}">
                    <label for="phone_{{key}}">
                        {{ phone.value }}
                    </label>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="addContact();">Add Contact</button>
            </div>
        </div>
    </div>
</div>