<div class="container" ng-class="{ hide: hideNav == true }">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar" ng-class="{ hide: hideNav == true }">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ui-sref="app.home" class="navbar-brand" ng-class="{ hide: hideNav == true }">
            <img src="assets/img/logo.png" alt="PanicPress">
        </a>
    </div>
    <nav class="collapse navbar-collapse main-navbar" role="navigation" ng-class="{ hide: hideNav == true }">
        <ul class="nav navbar-nav navbar-right">
            <li ui-sref-active="active">
                <a ui-sref="app.home">Home</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.info">My Details</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.contacts">Contacts</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.history">History</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.support">App Support</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.share">Share</a>
            </li>
        </ul>
    </nav>
</div>