<section>
    <section class="section swatch-red-white section-short">
        <div class="container">
            <div class="row text-center m-b-sm">
                <div class="box-hex flat-shadow flat-hex animated flipInX">
                    <div class="box-dummy"></div>
                    <span class="box-inner">
					    <img src="assets/img/history.jpg">
				    </span>

                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section swatch-white-red has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container m-b-xl">
            <header class="section-header text-center underline m-t-lg">
                <h1 class="headline super hairline">My History</h1>
            </header>
            <div class="text-center m-b-xl">

                <ul class="text-left list-fancy-icons color-inverse" ng-if="history.length > 0">
                    <li ng-repeat="event in history" class="event-{{event.id}}">
                        <a class="hex" ng-click="openBrowser(event.short_url);">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>
                            {{ event.created_at | formatDateShort }} {{ event.created_at | formatTime }}
                        </h3>
                        <p>
                            Activated
                            <span class="live-time" data-timestamp="{{ event.last_modified }}">
                                {{ event.created_at | fromNow }}
                            </span>
                        </p>
                    </li>
                </ul>

                <div class="alert bg-panic-info-light text-panic-info text-center" role="alert" ng-hide="history.length > 0">
                    <i class="fa fa-exclamation-triangle text-panic-info m-r-xs"></i> No Panic Press History
                </div>
            </div>
        </div>
    </section>
</section>

<script>
    setInterval(function(){
        $('.live-time').each(function(){
            var timestamp = $(this).data('timestamp');
            var fromnow = moment(timestamp).fromNow();
            $(this).text(fromnow);
        });
    }, 1000);
</script>