<section>
    <section class="section swatch-white-red has-top">

        <!-- Get Contact Info -->
        <div class="container min-height m-b-xl" ng-if="section == 'details'">
            <header class="section-header text-center underline m-t-xl">
                <h1 class="headline super hairline">My Details</h1>
            </header>
            <div class="m-b-xl">
                <p class="text-center">
                    During emergencies, these details will be provided to your Emergency Contacts.
                </p>
                <div class="alert alert-danger details-alert" ng-if="detailsAlert">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong><i class="fa fa-fw fa-exclamation-triangle text-red"></i></strong>&nbsp;
                    <span>{{detailsAlert}}</span>
                </div>
                <form class="contact-form m-t-xl" id="contactForm" novalidate="" ng-submit="addUser();">
                    <div class="form-group form-icon-group">
                        <input class="form-control" person-name ng-model="user.full_name" id="name" placeholder="Full Name *" type="text" required>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group form-icon-group">
                        <input class="form-control" email-address ng-model="user.email_address" id="email" placeholder="Email Address *" type="email" required>
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="form-group form-icon-group">
                        <input class="form-control" maxlength="10" phone-number ng-model="user.phone_number" id="phone" placeholder="Phone Number *" type="tel" pattern="[0-9]+" required>
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="form-group text-center m-t-xl">
                        <a ui-sref="app.welcome" class="btn btn-default btn-icon btn-icon-left previous">
                            Home
                            <span class="hex-alt">
                                <i class="fa fa-home"></i>
                            </span>
                        </a>
                        &nbsp;
                        <a ng-click="addUser();" class="btn btn-primary btn-icon btn-icon-right next">
                            Next
                            <span class="hex-alt">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </form>
                <p class="text-center">
                    Step 1 of 3<br />
                    <span class="small text-muted">Next Up:&nbsp; Create Security PIN</span>
                </p>
            </div>
        </div>

        <!-- Get Picture -->
        <div class="container min-height m-b-xl" ng-if="section == 'picture'">
            <header class="section-header text-center underline m-t-xl">
                <h1 class="headline super hairline">My Details</h1>
            </header>
            <div class="text-center m-b-xl">
                <p>
                    During emergencies, these details will be provided to your Emergency Contacts.
                </p>
                <form class="contact-form m-t-xl" novalidate="" ng-submit="addPicture();">
                    <div class="form-group text-center m-t-xl">
                        <a ng-click="takePicture();" class="btn btn-primary btn-icon btn-icon-right btn-lg">
                            Take Picture
                            <span class="hex-alt">
                                <i class="fa fa-camera"></i>
                            </span>
                        </a>
                    </div>
                    <div class="form-group text-center m-t-xl">
                        <a ui-sref="app.info({ section: 'details' })" class="btn btn-default btn-icon btn-icon-left previous">
                            Back
                            <span class="hex-alt">
                                <i class="fa fa-arrow-left"></i>
                            </span>
                        </a>
                        &nbsp;
                        <a ng-click="addPicture();" class="btn btn-primary btn-icon btn-icon-right next">
                            Next
                            <span class="hex-alt">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </form>
                <p>
                    Step 1 of 3<br />
                    <span class="small text-muted">Next Up:&nbsp; Security PIN</span>
                </p>
            </div>
        </div>

        <!-- Create Security PIN -->
        <div class="container min-height m-b-xl" ng-if="section == 'enter-pin'">
            <header class="section-header text-center underline m-t-xl">
                <h1 class="headline super hairline">Security PIN</h1>
            </header>
            <div class="text-center m-b-xl">
                <p>
                    This PIN signifies that you have your device &amp; not an attacker.&nbsp; Use this to send an "I'm OK" notice to your Emergency Contacts.
                </p>
                <form class="contact-form m-t-xl" ng-submit="addPin();">
                    <div class="form-group form-icon-group">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin good" id="securityPin1" ng-model="pin.securityPin1" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin good" id="securityPin2" ng-model="pin.securityPin2" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin good" id="securityPin3" ng-model="pin.securityPin3" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin good" id="securityPin4" ng-model="pin.securityPin4" required="required" numbers-only="numbers-only">
                    </div>
                    <div class="form-group text-center m-t-xl">
                        <a ui-sref="app.info({ section: 'details' })" class="btn btn-default btn-icon btn-icon-left previous">
                            Back
                            <span class="hex-alt">
                                <i class="fa fa-arrow-left"></i>
                            </span>
                        </a>
                        &nbsp;
                        <a ng-click="addPin();" class="btn btn-primary btn-icon btn-icon-right next">
                            Next
                            <span class="hex-alt">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </form>
                <p>
                    Step 2 of 3<br />
                    <span class="small text-muted">Next Up:&nbsp; Verify Security PIN</span>
                </p>
            </div>
        </div>

        <!-- Verify Security PIN -->
        <div class="container min-height m-b-xl" ng-if="section == 'verify-pin'">
            <header class="section-header text-center underline m-t-xl">
                <h1 class="headline super hairline">Verify Security PIN</h1>
            </header>
            <div class="text-center m-b-xl">
                <p>
                    This PIN signifies that you have your device &amp; not an attacker.&nbsp; Use this to send an "I'm OK" notice to your Emergency Contacts.
                </p>
                <form class="contact-form m-t-xl" ng-submit="verifyPin();">
                    <div class="form-group form-icon-group">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin good" id="securityVerifyPin1" ng-model="pin.securityVerifyPin1" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin good" id="securityVerifyPin2" ng-model="pin.securityVerifyPin2" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin good" id="securityVerifyPin3" ng-model="pin.securityVerifyPin3" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin good" id="securityVerifyPin4" ng-model="pin.securityVerifyPin4" required="required" numbers-only="numbers-only">
                    </div>
                    <div class="form-group text-center m-t-xl">
                        <a ui-sref="app.info({ section: 'enter-pin' })" class="btn btn-default btn-icon btn-icon-left previous">
                            Back
                            <span class="hex-alt">
                                <i class="fa fa-arrow-left"></i>
                            </span>
                        </a>
                        &nbsp;
                        <a ng-click="verifyPin();" class="btn btn-primary btn-icon btn-icon-right next">
                            Next
                            <span class="hex-alt">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </form>
                <p>
                    Step 2 of 3<br />
                    <span class="small text-muted">Next Up:&nbsp; Fake Security PIN</span>
                </p>
            </div>
        </div>

        <!-- Create Fake PIN -->
        <div class="container min-height m-b-xl" ng-if="section == 'enter-fake-pin'">
            <header class="section-header text-center underline m-t-xl">
                <h1 class="headline super hairline">Fake Security PIN</h1>
            </header>
            <div class="alert alert-danger details-alert" ng-if="pinAlert">
                <button class="close" data-dismiss="alert" type="button">×</button>
                <strong><i class="fa fa-fw fa-exclamation-triangle text-red"></i></strong>&nbsp;
                <span>{{pinAlert}}</span>
            </div>
            <div class="text-center m-b-xl">
                <p>
                    Use this if you are being forced to provide your PIN.&nbsp; We will notify your Emergency Contacts without your attacker knowing.
                </p>
                <form class="contact-form m-t-xl" novalidate="" ng-submit="addFakePin();">
                    <div class="form-group form-icon-group">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin bad" id="fakePin1" ng-model="pin.fakePin1" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin bad" id="fakePin2" ng-model="pin.fakePin2" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin bad" id="fakePin3" ng-model="pin.fakePin3" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin bad" id="fakePin4" ng-model="pin.fakePin4" required="required" numbers-only="numbers-only">
                    </div>
                    <div class="form-group text-center m-t-xl">
                        <a ui-sref="app.info({ section: 'verify-pin' })" class="btn btn-default btn-icon btn-icon-left previous">
                            Back
                            <span class="hex-alt">
                                <i class="fa fa-arrow-left"></i>
                            </span>
                        </a>
                        &nbsp;
                        <a ng-click="addFakePin();" class="btn btn-primary btn-icon btn-icon-right next">
                            Next
                            <span class="hex-alt">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </form>
                <p>
                    Step 3 of 3<br />
                    <span class="small text-muted">Next Up:&nbsp; Verify Fake PIN</span>
                </p>
            </div>
        </div>

        <!-- Verify False PIN -->
        <div class="container min-height m-b-xl" ng-if="section == 'verify-fake-pin'">
            <header class="section-header text-center underline m-t-xl">
                <h1 class="headline super hairline">Verify Fake PIN</h1>
            </header>
            <div class="text-center m-b-xl">
                <p>
                    Use this if you are being forced to provide your PIN.&nbsp; We will notify your Emergency Contacts without your attacker knowing.
                </p>
                <form class="contact-form m-t-xl" novalidate="" ng-submit="verifyFakePin();">
                    <div class="form-group form-icon-group">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin bad" id="fakeVerifyPin1" ng-model="pin.fakeVerifyPin1" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin bad" id="fakeVerifyPin2" ng-model="pin.fakeVerifyPin2" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin bad" id="fakeVerifyPin3" ng-model="pin.fakeVerifyPin3" required="required" numbers-only="numbers-only">
                        <input type="tel" pattern="[0-9]" maxlength="1" class="pin bad" id="fakeVerifyPin4" ng-model="pin.fakeVerifyPin4" required="required" numbers-only="numbers-only">
                    </div>
                    <div class="form-group text-center m-t-xl">
                        <a ui-sref="app.info({ section: 'enter-fake-pin' })" class="btn btn-default btn-icon btn-icon-left previous">
                            Back
                            <span class="hex-alt">
                                <i class="fa fa-arrow-left"></i>
                            </span>
                        </a>
                        &nbsp;
                        <a ng-click="verifyFakePin();" class="btn btn-primary btn-icon btn-icon-right next">
                            Next
                            <span class="hex-alt">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </form>
                <p>
                    Step 3 of 3<br />
                    <span class="small text-muted">Next Up:&nbsp; All Done</span>
                </p>
            </div>
        </div>

        <!-- All Done -->
        <div class="container min-height m-b-xl" ng-if="section == 'complete'">
            <header class="section-header text-center underline m-t-xl">
                <h1 class="headline super hairline">Thanks, All Done</h1>
            </header>
            <div class="text-center m-b-xl">
                <p>
                    Now, let's make sure your Emergency Contacts are up-to-date.
                </p>
                <p><img src="assets/img/svg/setup.svg" class="m-t"></p>
                <div class="form-group text-center m-t-xl">
                    <a ui-sref="app.contacts" class="btn btn-primary btn-icon btn-icon-right">
                        Emergency Contacts
                        <span class="hex-alt">
                            <i class="fa fa-users"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </section>
</section>