<section ng-swipe-left="swipeToImmediateDanger('left');" ng-swipe-right="swipeToImmediateDanger('right');">

    <section class="section swatch-red-white has-top">
        <header class="section-header text-center underline">
            <h1 class="headline super hairline">Potential Danger</h1>
            <p>Notify Emergency Contacts of:</p>
        </header>
        <div class="row m-t">
            <div class="col-xs-6 no-overflow">
                <a ui-sref="app.danger({ type: 'potential', danger: 'being-followed', status: 'send' })" class="box-hex flat-shadow flat-hex left-10 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".0s" ng-class="{ 'box-big': !isMobile }">
                    <div class="box-dummy"></div>
                    <span class="box-inner">
                        <span class="hex-label">I'm Being<br/>Followed</span>
					    <img alt="" src="assets/img/danger/being-followed.svg" class="">
				    </span>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                </a>
            </div>
            <div class="col-xs-6 no-overflow">
                <a ui-sref="app.danger({ type: 'potential', danger: 'high-risk-activity', status: 'send' })" class="box-hex flat-shadow flat-hex right-10 os-animation" data-os-animation="fadeInRight" data-os-animation-delay=".05s" ng-class="{ 'box-big': !isMobile }">
                    <div class="box-dummy"></div>
                    <span class="box-inner">
                        <span class="hex-label">High-Risk<br/>Activity</span>
					    <img alt="" src="assets/img/danger/high-risk-activity.svg" class="">
				    </span>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 no-overflow">
                <a ui-sref="app.danger({ type: 'potential', danger: 'feeling-unsafe', status: 'send' })" class="box-hex flat-shadow flat-hex left-10 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".1s" ng-class="{ 'box-big': !isMobile }">
                    <div class="box-dummy"></div>
                    <span class="box-inner">
                        <span class="hex-label">Feeling<br/>Unsafe</span>
					    <img alt="" src="assets/img/danger/feeling-unsafe.svg" class="">
				    </span>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                </a>
            </div>
            <div class="col-xs-6 no-overflow">
                <a ui-sref="app.danger({ type: 'potential', danger: 'completely-lost', status: 'send' })" class="box-hex flat-shadow flat-hex right-10 os-animation" data-os-animation="fadeInRight" data-os-animation-delay=".15s" ng-class="{ 'box-big': !isMobile }">
                    <div class="box-dummy"></div>
                    <span class="box-inner">
                        <span class="hex-label">Completely<br/>Lost</span>
					    <img alt="" src="assets/img/danger/completely-lost.svg" class="">
				    </span>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                </a>
            </div>
        </div>
        <div class="row text-center">
            <a ui-sref="app.home" class="btn btn-white btn-icon-left m-t-xs os-animation" data-os-animation="fadeInRight" data-os-animation-delay=".5s">
                <span class="text-red">Immediate Danger</span>
				<span class="hex-alt hex-alt">
					<i class="fa fa-arrow-left"></i>
				</span>
            </a>
        </div>
    </section>
</section>