<section>
    <section class="section swatch-red-white section-short">
        <div class="container">
            <div class="row text-center m-b-sm">
                <div class="box-hex flat-shadow flat-hex animated flipInX">
                    <div class="box-dummy"></div>
                    <span class="box-inner">
					    <img src="assets/img/support.jpg">
				    </span>

                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section swatch-white-red has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container contain-600 m-b-xl">
            <header class="section-header text-center underline m-t-lg">
                <h1 class="headline super hairline">App Support</h1>
            </header>
            <div class="text-center m-b-xl">
                <p>
                    Need help with Panic Press?
                </p>
                <p>
                    <a ng-click="openBrowser('https://panicpress.zendesk.com');" class="btn btn-primary btn-icon btn-icon-left previous">
                        Support
                        <span class="hex-alt">
                            <i class="fa fa-external-link-square"></i>
                        </span>
                    </a>&nbsp;
                    <a ng-click="openBrowser('https://twitter.com/panicpressapp');" class="btn btn-primary btn-icon btn-icon-right next in-app-browser">
                        Twitter
                        <span class="hex-alt">
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </section>
</section>