<section class="full-screen">
    <section class="section swatch-red-white">
        <div class="container m-b-xl text-center">
            <img src="assets/img/svg/icon.svg" class="fadeOut homeLogo">
            <header class="section-header underline m-t fadeOut">
                <h1 class="headline hyper hairline">Panic Press</h1>
                <p class="big">Access your Safety Net</p>
            </header>
        </div>
    </section>
    <section class="section swatch-red-white">
        <div class="container">
            <div class="row text-center m-b-lg">
                <a class="btn btn-white btn-lg btn-icon-right start-button" target="_self" ng-click="animate()">
                    <span style="color: #e74c3c">Let's Begin</span>
                    <span class="hex-alt">
                        <i class="fa fa-arrow-right" data-animation="shake"></i>
                    </span>
                </a>
            </div>
        </div>
    </section>
</section>