var panic_press = {

	/* Key to Encrypt Data ( must match on remote server ) */
	security: {
		encryption_key: ''
	},

	/* General Application Settings */
	app:
	{
		/* App Support Information */
		support: {
			website: 'https://panicpress.zendesk.com',
			email: 'support@panicpress.zendesk.com',
			info: 'http://panicpress.press',
			terms_of_use: 'http://panicpress.press/terms-of-use',
			privacy_policy: 'http://panicpress.press/privacy-policy'
		},

		/* Settings for Development */
		dev: {
			api: {
				key: '',
				url: ''
			},
			sendgrid: {
				api_user: '',
				api_key: '',
				from_name: '',
				from_address: ''
			},
			aws: {
				access_key: '',
				secret_key: '',
				bucket: ''
			}
		},
		/* Settings for Production ( same descriptions as above ) */
		prod: {
			api: {
            	key: '',
                url: ''
            },
			sendgrid: {
                api_user: '',
                api_key: '',
                from_name: '',
                from_address: ''
            },
            aws: {
                access_key: '',
                secret_key: '',
                bucket: ''
            }
		}
	},

	/* Google Settings */
	google: {

		/* Analytics Code for Mobile App */
		analytics: 'UA-XXXXXXXX-X'
	}
};