<!-- header -->
<header id="masthead" ng-if="!hideNav && !disableMenu" class="navbar navbar-sticky swatch-red-white" role="banner" data-ng-include=" 'templates/partials/header.html?v=' + app.version "></header>
<!-- / header -->

<!-- main content -->
<div id="content" role="main" scroll-position="scrollPosition" ng-class="{ showOverflow: hideNav == true }">

	<div ui-view></div>

	<footer id="footer" role="contentinfo" data-ng-include=" 'templates/partials/footer.html?v=' + app.version "></footer>

</div>
<!-- / main content -->

<!-- go to top -->
<a class="go-top hex-alt" href="javascript:void(0)">
	<i class="fa fa-angle-up"></i>
</a>
<!-- / go to top -->


<section class="background-mode">
	<section class="section swatch-red-white">
		<div class="container m-b-xl text-center">
			<img src="assets/img/svg/icon.svg" class="homeLogo">
			<header class="section-header underline m-t">
				<h1 class="headline hyper hairline">Panic Press</h1>
				<p class="big">Access your Safety Net</p>
			</header>
		</div>
	</section>
	<section class="section swatch-red-white">
		<div class="container">
			<div class="row text-center m-b-lg">
				<i class="fa fa-fw fa-spinner fa-spin m-r-xs"></i>
				Running in Background ...
			</div>
		</div>
	</section>
</section>