@charset "UTF-8";

$panic-red: #E74C3C;
$panic-dark-red: #CE4435;
$panic-darker-red: #AD0A04;
$panic-light-red: #F0C6BC;

$panic-red-inverted: #73BFC1;

$panic-light-grey: #CCCCCC;
$panic-green: #469B23;
$panic-light-green: #DDF4E1;

$panic-success: #469B23;
$panic-success-light: #DDF4E1;

$panic-info: #4098D7;
$panic-info-light: #E2EFF8;

$panic-warning: #FFB800;
$panic-warning-light: #CF9A10;

$panic-danger: #E74C3C;
$panic-danger-light: #FFF1EE;